@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --primary-color: #FFE69A;
  --secondary-color: #fff764;
  --text-color: #313131;

  --gradient-image: linear-gradient( 135deg, #425bea 10%, #92B4EC 100%);
}

* {
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: var(--text-color);
  background-image: var(--gradient-image);
}

img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  /* object-position: center; */
}

/* ====================
CAROUSEL
==================== */
.carousel {
  height: 530px;
  width: 500px;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(0,0,0, .1);
}

/* IMAGE CONTAINER */
.img-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

/* BUTTONS CONTAINER */
.btn-container {
  display: flex;
  justify-content: space-between;
}
.btn {
  width: 49.5%;
  padding: 0.5rem;
  border: none;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--text-color);
  background-color: var(--primary-color);
}
.btn:hover {
  opacity: 0.9;
}
.btn:focus {
  outline: none;
}