@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  color: #313131;
  background-color: #f4f4f4;
}


/* ====================
RANDOM IMAGE FEED
==================== */
.title {
  margin: 10px 0 0;
  text-align: center;
}
.container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
}
.container img {
  object-fit: cover;
  height: 300px;
  width: 300px;
  max-width: 100%;
  margin: 10px;
}