@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,700&display=swap');

* {
  box-sizing: border-box;
}
body {
  background: #ffe259;
  background: -webkit-linear-gradient(to right, #ffa751, #ffe259);
  background: linear-gradient(to right, #ffa751, #ffe259);

  font-family: 'Roboto Flex', sans-serif;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

/* SEARCH */
.search {
  position: relative;
  height: 50px;
}
.input:focus,
.btn:focus {
  outline: none;
}


/* SEARCH INPUT */
.search .input {
  border: 0;
  background-color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 50px;
  height: 50px;
  transition: width 0.3s ease;
  border-radius: 30px;
}
.search.active .input {
  width: 300px;
}

/* SEARCH BUTTON */
.search .btn {
  cursor: pointer;
  font-size: 32px;
  border: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #fff;
  background-color: #313131;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}
.search.active .btn {
  background-color: transparent;
  color: #313131;
  transform: translateX(248px);
}
